<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Project Title</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/main.css">
		
		<script src="js/modernizr.js"></script> 
	</head>
	<body>

		<header class="main-header">
			<div class="header-primary-bar">
				<div class="container">

					<div class="logo-container">

					</div>

					<ul class="nav-primary hidden-xs">
						<li>
							<a href="#">
								Partners
							</a>
						</li>
						<li>
							<a href="#">
								Contact
							</a>
						</li>
						<li>
							<a href="#">
								Login
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="header-secondary-bar">
				<div class="container">

					<ul class="nav-secondary hidden-xs">
						<li>
							<a href="#">
								Features
							</a>
						</li>

						<li>
							<a href="#">
								Services
							</a>
						</li>

						<li>
							<a href="#">
								Industries
							</a>
						</li>

						<li>
							<a href="#">
								Plans
							</a>
						</li>

						<li>
							<a href="#">
								About Us
							</a>
						</li>

						<li>
							<a href="#">
								Info
							</a>
						</li>
						
					</ul>

				</div>
			</div>
		</header>