.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;


	.header-primary-bar {
		background-color: #494949;

		@height: 60px;

		.container {
			height: @height;
		}

		.logo-container {
			float: left;

			margin: 6px;
			width: 158px;
			height: 48px;
			.rounded(3px);

			// width: 197.5px;
			// height: @height;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('../img/logo.png');
		}


		.nav-primary {
			list-style: none;
			float: right;

			li {
				line-height: @height;
				font-weight: bold;
				font-size: 14px;
				float: left;

				a {
					display: block;
					background-color: inherit;
					color: #fff;
					text-decoration: none;
					line-height: @height;
					padding: 0 25px;
					.transition2();
				}


				.no-touch &:hover,
				.active {
					a {
						background-color: #2c2c2c;
					}
				}
			}

		}

	}
	.header-secondary-bar {
		background-color: fade(#000, 40%);
		@height: 40px;
		.container {
			height: @height;
		}

		.nav-secondary {
			list-style: none;
			float: left;

			li {
				float: left;

				a {
					display: block;
					line-height: @height;
					color: #fff;
					text-decoration: none;
					padding: 0 15px;
					font-size: 14px;
					.transition2();

					&:after {
						.fa();
						margin-left: 3px;
						content: "\f0d7";
					}
				}

				.no-touch &:hover a,
				&.active a {
					background-color: fade(#000, 50%);
				}
			}


		}

	}
}


@media @xs {
	.main-header {



		.header-primary-bar {
			@height: 50px;

			.container {
				height: @height;
			}

			.logo-container {
				margin: 5px;
				width: 140px;
				height: 40px;
			}



			.nav-primary {
				li {
					line-height: @height;
					a {
						line-height: @height;
					}
				}
			}
		}


		.header-secondary-bar {
			@height: 30px;
			.container {
				height: @height;
				.nav-secondary {
					li {
						a {
							line-height: @height;
						}
					}
				}
			}
		}


	}
}