<section class="main-section industries" id="services">
	<header class="main-section-header">
		<div class="container">
			<p>
				Primotus specializes in industries having people and assets out in the field or out on location. Our systems couple BPM with mobile and provide unmatched tracking capabilities and associated reporting. Typical applications include
			</p>

		</div>
	</header>

	<div class="container">

		<div class="main-section-title-container">
			<h1 class="main-section-title">
				Industries
			</h1>
		</div>

		
		<div class="row">


			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-home"></i>
						<h3 class="industry-item-title">
							Field Service
						</h3>
					</div>

					<div class="industry-item-short-description">
						Residential Service Calls (HVAC, appliance, plumbing, electric),  - Cleaning Services
					</div>

					<p>
						Building maintenance and repair can be better orchestrated by using a mobile work flow system that optimizes scheduling and places all needed information to complete a service call in the hands of the technician. In typical deployment, Dispatch will assign Orders and potentially parts to technicians and optimize routing. On location, technician validates equipment, pulls up any needed documentation, associates repaired parts with Order and updates Order status. RFID or bar coded tags can be added to further enhance tracking and reporting. 
					</p>
				</div>
			</div>


			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-globe"></i>
						<h3 class="industry-item-title">
							Distribution
						</h3>
					</div>

					<div class="industry-item-short-description">
						Terminals, Yards, Ports, Warehouses
					</div>

					<p>
						Primotus specializes in distribution providing work flow systems for Yard, Terminals, Ports, and Warehouses. Typical modules include facilities mapping, dock scheduling, and automated locationing.  Our EDI module interfaces will all trading partners and internal systems using standard Rest service. RFID and bar-code solutions add automation and improve basic tracking and business information.
					</p>
				</div>
			</div>


			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-building-o"></i>
						<h3 class="industry-item-title">
							Manufacturing
						</h3>
					</div>

					<div class="industry-item-short-description">
						Just in Time, Product Tracking, Maintenance, Yards, Ports, Terminals, Logistics
					</div>

					<p>
						Primotus helps with tracking parts and goods from factory, distribution, and transportation. Our EDI module interfaces will all trading partners and internal systems using standard Rest service. RFID and bar-code solutions add automation and improve basic tracking and business information.
					</p>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-stethoscope"></i>
						<h3 class="industry-item-title">
							<br>Healthcare
						</h3>
					</div>

					<div class="industry-item-short-description">
						Home Healthcare, Sales, Asset Tracking, Work Flow Management
					</div>

					<p>
						Healthcare providers are getting squeezed by insurance companies, yet have to provide well documented services.  Key is a mobile work flow system that can better track processes and procedures not only for productivity gains but for digitized and accurate documentation. RFID and bar-code solutions add automation and improve basic tracking and information.
					</p>
				</div>
			</div>



			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-truck"></i>
						<h3 class="industry-item-title">
							<br>Automotive
						</h3>
					</div>

					<div class="industry-item-short-description">
						Just in Time, Product Tracking, Maintenance, Yards, Ports, Terminals, Logistics, Processors
					</div>

					<p>
						Flowgiliity has significant experience with the automotive sector. Specifically, we can help with tracking in bound parts for just-in-time deliveries and in finished goods including yard management, processing, logistics, inspections, and claims. We integrate with all OEM logistics EDI systems and our standard Rest service can provide integration into systems. RFID and bar-code solutions add automation and improve basic tracking and business information.
					</p>
				</div>
			</div>


			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-road"></i>
						<h3 class="industry-item-title">
							Logistics/<br>
							Transportation
						</h3>
					</div>

					<div class="industry-item-short-description">
						Transporters, 3PLs, Yard, Terminals, Ports, Processors, Distributiion, Fleet Management, Cross Dock, e-POD, 
					</div>

					<p>
						Primotus's origins revolved around developing complex TMS and Yard work flow solutions.  At the core is tracking of product and resources through the entire supply chain. Key is optimizing processes and thereby improving productivity, lowering costs, and improving customer response times.  RFID or bar coded tags can be added to further enhance tracking and reporting. 
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-flag"></i>
						<h3 class="industry-item-title">
							Government
						</h3>
					</div>

					<div class="industry-item-short-description">
						Military, Criminal Justice, Field Service, Safety, Inspections, Logistics, Maintenance
					</div>

					<p>
						Greater efficiency of limited resouces is the key for federal, state, and local governments.  Combining optimized work flow, real-time information out in the field, and strong reporting will better assure that resources are used optimally.  
					</p>
				</div>
			</div>

			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-wrench"></i>
						<h3 class="industry-item-title">
							Construction
						</h3>
					</div>

					<div class="industry-item-short-description">
						Job Scheduling, Tracking
					</div>

					<p>
						Using an easily customized work flow solution, Construction companies can configure projects down to minute detail all the while allowing all third parties to collaborate in real time out in the field. RFID and bar-code solutions add automation and improve basic tracking and business information.
					</p>
				</div>
			</div>

			<div class="col-sm-4 industry-item-col">
				<div class="industry-item">
					<div class="industry-item-title-container">
						<i class="fa fa-shopping-cart"></i>
						<h3 class="industry-item-title">
							Retail
						</h3>
					</div>

					<div class="industry-item-short-description">
						Operations, Distribution, Logistics,Field Service
					</div>

					<p>
						Retail store chains need to manage with lower inventories and manage the interaction among distribution centers, logistics and in-store operations. RFID and bar-code solutions add automation and improve basic tracking and business information.
					</p>
				</div>
			</div>
		</div>

	</div>

</section>