/* modular colors */

@color-primary: #f89406;
@color-bg-primary: #9bbddb;

@color-text-primary: #333333;
@color-text-secondary: #fff;
@color-text-inverse: #fff;

@color-anchor-primary: @color-primary;