/* Home page specific styles */

.home-container {
	
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.home-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.home-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.home-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.home-container {

	}
}