/* Libraries */
@import "bootstrap/variables.less";
// @import "bootstrap/less/mixins.less";

/* helpers */
@import "helpers/reset.less";
@import "helpers/mixins.less";
@import "helpers/icons-and-sprites.less";

/* wireframe variabes */
@import "colors.less";
@import "fonts.less";

/* media variables */
@lg: ~"(min-width: @{screen-lg-min})";
@md: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@sm: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@xs: ~"(max-width: @{screen-xs-max})";

html, body {

}

body {
	padding-top: 60px;
	background-color: #f4f4f4;
	// display: none;
}

h1,h2,h3,h4,h5 {
	
}

h1 {
	
}

a {
	
}



.main-container {


	.main-section-title-container {
		text-align: center;
		overflow: hidden;
		margin-bottom: 22px;
	}

	.main-section {
		padding-bottom: 30px;
	}

	.main-section-title {
		font-size: 33px;
		color: @color-primary;
		font-family: @font-roboto;
		font-weight: bold;
		display: inline-block;
		position: relative;
		padding-top: 2px;
		padding-bottom: 5px;
		text-transform: uppercase;

		.distinguish {
			color: #000;
		}

		&:before,
		&:after {
			content: " ";
			display: block;
			position: absolute;
			width: 1000px;
			height: 100%;
			top: 0;
			background-image: url("../img/pattern-heading.png");
			background-repeat: repeat;
		}

		&:before {
			right: 100%;
			margin-right: 15px;
		}

		&:after {
			left: 100%;
			margin-left: 15px;
		}
	}

	.main-section-header {
		padding: 70px 0;
		text-align: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("../img/bg-services-header.jpg");
		margin-bottom: 55px;

		p {
			font-size: 33px;
			font-family: @font-roboto;
			max-width: 765px;
			display: inline-block;
		}
	}

	.circle-item-col {
		text-align: center;
		padding-top: 10px;

		.circle-item-icon {
			display: inline-block;
			width: 100px;
			height: 100px;
			border: 3px solid @color-primary;
			text-align: center;
			line-height: 96px;
			font-size: 64px;
			margin-bottom: 5px;
			.rounded(50%);
		}

		.circle-item-title {
			font-size: 24px;
			font-weight: bold;
		}

		p {
			font-size: 16px;
		}
	}

	.main-table {
		font-family: @font-roboto;
		font-size: 16px;
		.box-shadow(0 0 10px 0 fade(#000, 30%));


		thead {
			th {
				font-size: 24px;
				background-color: #313131;
				color: @color-text-inverse;
				font-weight: bold;
				padding-top: 2px;
				padding-bottom: 3px;
			}
		}

		tbody {

			tr:first-child td {
				padding-top: 20px;
			}

			tr.section-last td {
				padding-bottom: 34px;
			}

			tr:last-child td {
				padding-bottom: 20px;
			}

			td.section-header {
				background-color: #7a7a7a;
				color: @color-text-inverse;
				font-weight: bold;
			}

		}

	}


}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.main-container {


		.main-section-header {
			padding: 25px 0;
			p {
				font-size: 23px;
			}
		}


	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.main-container {


		.main-section-header {
			padding: 50px 0;
			p {
				font-size: 28px;
			}
		}

		.main-table {

			td:first-child, 
			th:first-child {
				padding-left: 20px;
			}

		}
	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.main-container {
		.main-table {

			td:first-child, 
			th:first-child {
				padding-left: percentage(1/12);
			}

		}
	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.main-container {
		.main-table {

			td:first-child, 
			th:first-child {
				padding-left: percentage(1/12);
			}

		}
	}
}




/* partials */
@import "partials/header.less";
@import "partials/main-slider.less";
@import "partials/home-features.less";
@import "partials/home-services.less";
@import "partials/home-industries.less";

/* layouts */
@import "home.less";