<section class="main-section services" id="services">
	<header class="main-section-header">
		<div class="container">
			<p>
				If needed, our Services Group stands ready to assist with deployments and any service requests. Our professionals have knowledge of best practices, which can make deployments, as well as troubleshooting, faster and easier. 
			</p>

		</div>
	</header>

	<div class="container">

		<div class="main-section-title-container">
			<h1 class="main-section-title">
				Services
			</h1>
		</div>

		<div class="row">
			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-comments"></i>
				</div>
				<div class="circle-item-title">
					Consulting
				</div>
				<p>
					Our consultants can assist with anything from work flow best practices to system integration.
				</p>
			</div>
			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-retweet"></i>
				</div>
				<div class="circle-item-title">
					Training
				</div>
				<p>
					We divide training into different levels from Administrative, Mobile and Web users.
				</p>
			</div>
			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-play-circle"></i>
				</div>
				<div class="circle-item-title">
					Webinars
				</div>
				<p>
					We provide Webinars that address specific areas of system at sheduled times. 
				</p>
			</div>

			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-laptop"></i>
				</div>
				<div class="circle-item-title">
					One-on-One Web
				</div>
				<p>
					We can schedule web sessions that are specific to your deployment.
				</p>
			</div>
			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-suitcase"></i>
				</div>
				<div class="circle-item-title">
					On Site
				</div>
				<p>
					Face-to-face support with your team improves communication.
				</p>
			</div>
			<div class="col-sm-4 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-question"></i>
				</div>
				<div class="circle-item-title">
					Support
				</div>
				<p>
					Different levels of support based on the offering you choose (Modeler, Core, or Enterprise).
				</p>
			</div>
		</div>


		<div class="table-responsive">
			<table class="main-table table table-condensed">
				<thead>
					<tr>
						<th class="col-md-4">
							Live Support
						</th>
						<th class="col-md-2">
							Modeler
						</th>
						<th class="col-md-2">
							Core
						</th>
						<th>
							Enterprise
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Troubleshooting with Admin User 
						</td>
						<td>
							No
						</td>
						<td>
							Yes
						</td>
						<td>
							Yes
						</td>
					</tr>

					<tr>
						<td>
							Software Updates
						</td>
						<td>
							Yes
						</td>
						<td>
							Yes
						</td>
						<td>
							Yes
						</td>
					</tr>

					<tr>
						<td>
							Help Desk Allowance
						</td>
						<td>
							No
						</td>
						<td>
							5 Hours/Month
						</td>
						<td>
							10 Hours/Month
						</td>
					</tr>


					<tr>
						<td>
							Support Hours
						</td>
						<td>
							Business Hours
						</td>
						<td>
							Business Hours
						</td>
						<td>
							Business Hours
						</td>
					</tr>

					<tr>
						<td>
							Response Type
						</td>
						<td>
							Online
						</td>
						<td>
							Online/Live
						</td>
						<td>
							Live
						</td>
					</tr>

					<tr class="section-last">
						<td>
							Response Time
						</td>
						<td>
							One Business Day
						</td>
						<td>
							One Business Day
						</td>
						<td>
							Four Business Hours
						</td>
					</tr>

					<tr>
						<td colspan="4" class="section-header">
							Elevated Support
						</td>
					</tr>

					<tr>
						<td>
							Response Type
						</td>
						<td>
							No
						</td>
						<td>
							Live Per Request
						</td>
						<td>
							Live
						</td>
					</tr>

					<tr>
						<td>
							Response Time
						</td>
						<td>
							No
						</td>
						<td>
							1 Hour Per Request
						</td>
						<td>
							1 Hour
						</td>
					</tr>

					<tr>
						<td>
							Emergency Fixes
						</td>
						<td>
							No
						</td>
						<td>
							No
						</td>
						<td>
							Yes
						</td>
					</tr>

					<tr>
						<td>
							Custom Hot Releases
						</td>
						<td>
							No
						</td>
						<td>
							No
						</td>
						<td>
							Yes
						</td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>

</section>