<section class="main-section plans" id="plans">
	<header class="main-section-header">
		<div class="container">
			<p>
				Comes in four levels. Modeler, which is free, provides access to model work flows. Core provides key functionality and is suitable for basic workflow deployments. Enterprise includes all functions needed for a robust solution.  
			</p>

		</div>
	</header>


	<div class="container">

		<div class="main-section-title-container">
			<h1 class="main-section-title">
				Plans
			</h1>
		</div>

		<div class="table-responsive">
			<table class="main-table table table-condensed">
				<thead>
					<tr>
						<th class="col-md-4">
							Comparison
						</th>
						<th class="col-md-2">
							Modeler
						</th>
						<th class="col-md-2">
							Core (Cloud)
						</th>
						<th>
							Enterprise (Cloud)
						</th>
						<th>
							Enterprise (On-site)
						</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							Modeler
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Web 2.0
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Multi-Language - Currency
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Training
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td> 
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Plug In Modules
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Company Hierarchy
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Customer/Suppliers Portal
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Workground Access
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Mobile
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Report Writer
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							GL Integration
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Dashboard
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Scheduled Reporting
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							EDI Gateway
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							API Integration
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Rules Engine
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Live Support
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Elevated Support
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							X
						</td>
					</tr>

					<tr>
						<td>
							Cloud Services
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							X
						</td>
						<td>
							
						</td>
					</tr>


					<tr>
						<td>
							Cost
						</td>
						<td>
							Free
						</td>
						<td>
							Free
						</td>
						<td>
							$xx.xx per month
						</td>
						<td>
							Call
						</td>
					</tr>

				</tbody>
			</table>
		</div>


	</div>


</section>