<section class="main-slider" id="main-slider">
	<!-- Indicators -->
	<!-- <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol> -->

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active" style="background-image:url('img/slides/1.jpg')">
			<div class="container">

				<div class="row">
					<div class="col-md-6 col-md-offset-1">
						<div class="slide-text">
							<h2>Business In Motion</h2>
							<p>
								In an ever-changing business environment, you need work flow applications that are easy to create and deploy and flexible to modify. 
							</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<a href="#" class="btn btn-primary">
							Get Started
						</a>
					</div>
					<div class="col-sm-6 col-md-2">
						<a href="#" class="btn btn-transparent">
							Learn More
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>

</section>