@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/*

	All text fonts definition and importing goes here 

	for ex.

	@font-primary: Arial, Verdana;

	header {
		font-family: @font-primary;
	}

	font-family: 'Roboto Condensed', sans-serif;

*/

@font-roboto: 'Roboto Condensed', sans-serif;