.main-slider {
	@height: 450px;
	height: @height;

	color: @color-text-inverse;


	.carousel-inner {
		height: @height;
		width: 100%;
		position: relative;

		.item {
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	.container {
		.slide-text {
			padding-top: 125px;
			padding-bottom: 25px;

			h2 {
				color: @color-text-inverse;
				font-size: 54px;
				margin-bottom: 20px;
				text-shadow: 3px 3px 0 fade(#000, 50%);
			}

			p {
				color: @color-text-inverse;
				font-size: 24px;
				text-shadow: 3px 3px fade(#000, 50%);
			}
		}


		.btn {
			margin-top: 310px;
			width: 100%;
			color: @color-text-inverse;
			font-size: 16px;
			text-transform: uppercase;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 50px;
			.box-shadow(none);
			.rounded(8px);

			&.btn-primary {
				background-color: @color-primary;
				border: 2px solid @color-primary;
			}

			&.btn-transparent {
				background-color: none;
				border: 2px solid @color-text-inverse;
			}
		}
	}

	

}

@media @xs {
	.main-slider {

		.carousel-inner {
			height: auto;
			// height: 300px;

			.item {
				position: relative;
			}
		}

		.container {

			.slide-text {
				padding-top: 80px;
				padding-bottom: 80px;

				h2 {
					font-size: 26px;
				}

				p {
					font-size: 16px;
				}

			}

			.btn {
				margin-top: 0;
				margin-bottom: 15px;
			}
		}
	}
}

@media @sm {
	.main-slider {
		.container {
			.btn {
				margin-top: 0;
			}
		}
	}
}