.features-subsection {

	padding: 60px 0;


	.step-title-container {
		text-align: center;

		.step-title {
			display: inline-block;
			color: @color-text-primary;
			font-size: 28px;
			margin-bottom: 12px;
		}

		.step-title.numbered {
			position: relative;
			padding-bottom: 4px;
			border-bottom: 2px solid @color-primary;

			span {
				position: absolute;
				display: inline-block;
				width: 24px;
				height: 24px;
				line-height: 18px;
				text-align: center;
				font-size: 14px;
				right: 100%;
				font-family: @font-roboto;
				border: 4px solid #cdcdcd;
				margin-right: 10px;
				top: 50%;
				margin-top: -12px;
				font-weight: bold;

				.rounded(50%);
			}
		}
	} 

	.step-short-description {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 30px;
	}

	h4 {
		font-size: 18px;
		font-weight: bold;
	}

	.step-description {
		p {
			margin-bottom: 24px;
		}
	}

	


	&.extensions {

		.extension-col {

		}

		.extension-icon {

		}

		.extension-title {
			
		}
	}


	&:nth-child(even) {
		background-color: #e7e7e7;
	}

}