<section class="main-section features" id="features">


	<section class="features-subsection">
		<div class="container">

			<div class="main-section-title-container">
				<h1 class="main-section-title">
					Platform <span class="distinguish">&</span> Features
				</h1>
			</div>
			

			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>1</span>
					Select a Template
				</h2>
			</div>

			<p class="step-short-description">
				Select Industry Templates and Create Basic Site Infrastructure
			</p>

			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<h4>
						Get going quickly
					</h4>
					<p>
						All you need to do is make some modifications to the templates - such as adding, removing, and/or relocating fields and functions.  
					</p>

					<h4>
						Create a foundation
					</h4>
					<p>
						With this step you'll have your organization structure and information in place along with all the key components to get going including the creation of Customers, Vendors, Third-Parties, Users, Roles, Permissions, Assets, Supplies, etc. 
					</p>
				</div>
			</div>


		</div>
	</section>

	<section class="features-subsection">
		<div class="container">

			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>2</span>
					Model Workflow
				</h2>
			</div>

			<p class="step-short-description">
				Automate work flows with our user-friendly Web-based drag and<br> 
				drop modeler.  Start with a single work flow and expand from there<br>
				as you grow more comfortable.
			</p>


			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<h4>
						Import existing models
					</h4>
					<p>
						BPMN2.0 modelers including Eclipse, create a new model from scratch using an integrated drag and drop web-based BPMN2.0-compliant modeler, or use an existing Primotus model as a template and make modifications to create a new flow.  
					</p>

					<h4>
						Create actions
					</h4>
					<p>
						Attach events, triggers, notifications, EDI messaging to your Tasks. No software needed to download.  Primotus advisors are available to assist you with developing your flows. 
					</p>
				</div>
			</div>


		</div>
	</section>

	<section class="features-subsection">
		<div class="container">
			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>3</span>
					Build Documents
				</h2>
			</div>

			<p class="step-short-description">
				Quickly compose Web and Mobile forms and documents with our<br>
				form builder. 
			</p>


			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<p>
						Create forms from scratch via our Web-based java script drag and drop form and document builder. You can save existing forms and documents as templates for creating variations. 
					</p>

					<p>
						Attach design elements to your forms, select fields from pre-populated field lists and use default widget types (check boxes, text, drop down selectors, etc) with a single click.  Edit existing forms with a few clicks. 
					</p>
				</div>
			</div>
			

		</div>
	</section>

	<section class="features-subsection">
		<div class="container">

			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>4</span>
					Generate Mobile App
				</h2>
			</div>

			<p class="step-short-description">
				Workflow, coupled with Forms allows you to instantly create a<br> mobile application
			</p>


			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<p>
						Using templates, widgets, and forms, you can create your own mobile application, which communicates with all the key hardware components of modern rugged and consumer-grade handsets such as scanners, camera, GPS, signature capture, phone, texting, email, etc. 
					</p>

					<p>
						Advanced features such as store and forward and GPS tracking are included.
					</p>
				</div>
			</div>
			

		</div>
	</section>

	<section class="features-subsection">
		<div class="container">

			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>5</span>
					Create a Dashboard
				</h2>
			</div>

			<p class="step-short-description">
				Generate custom reports using our easy report building tool.
			</p>


			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<p>
						Any field within system can be filtered in numerous ways and displayed in summary and or detail form with no need for programming. Simply make your selections, assign workgroups who have privileges to view a report, save it to Dashboard or Report folders, and shedule it for distribution in web, spreadsheet or pdf form.
					</p>
				</div>
			</div>
			

		</div>
	</section>

	<section class="features-subsection">
		<div class="container">

			<div class="step-title-container">
				<h2 class="step-title numbered">
					<span>6</span>
					Deploy in Cloud
				</h2>
			</div>

			<p class="step-short-description">
				Utilize in cloud and scale up or install on premise.
			</p>


			<div class="row step-description">
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="http://placehold.it/530x327">
				</div>
				<div class="col-md-5">
					<p>
						Most companies choose either a single or multi-tenent cloud deployment and scale from there. This configuration provides optimal resource allocation and is generally the most cost effective solution. As you grow and become more familiar with the platform, you can make the determination whether to continue with the cloud or migrate to an on promise installation. 
					</p>
				</div>
			</div>
			

		</div>
	</section>

	<section class="features-subsection">
		<div class="container">

			<div class="step-title-container">
				<h2 class="step-title">
					If Needed, Add...
				</h2>
			</div>

			<div class="row step-description">
				<div class="col-sm-4 circle-item-col">
					<div class="circle-item-icon">
						<i class="fa fa-lightbulb-o"></i>
					</div>
					<div class="circle-item-title">
						Business Rules
					</div>
					<p>
						First, try simple, easy-to-edit spreadsheet-based rules
					</p>
				</div>
				<div class="col-sm-4 circle-item-col">
					<div class="circle-item-icon">
						<i class="fa fa-compress"></i>
					</div>
					<div class="circle-item-title">
						Message Queues
					</div>
					<p>
						Communicate with customers and third parties via EDI and Web Services
					</p>
				</div>
				<div class="col-sm-4 circle-item-col">
					<div class="circle-item-icon">
						<i class="fa fa-dot-circle-o"></i>
					</div>
					<div class="circle-item-title">
						Embed APIs
					</div>
					<p>
						Utilize Primotus's industry standard REST-based APIs
					</p>
				</div>
			</div>
			

		</div>
	</section>


</section>