<% include partials/header %>
	<div class="main-container home-container">
		<% include partials/main-slider %>

		<% include partials/home-features %>
		
		<% include partials/home-services %>
		
		<% include partials/home-industries %>
		
		<% include partials/home-plans %>
	</div>
<% include partials/footer %>