.main-section.services {

	.circle-item-col {
		padding-bottom: 35px;
	}

}


@media @sm {

	.main-section.services {
		
	}

}



@media @md {

	.main-section.services {
		
	}

}


@media @lg {

	.main-section.services {
		
	}

}