.main-section.industries {

	.main-section-title {
		margin-bottom: 60px;
	}


	.industry-item {

		margin-bottom: 70px;

		.industry-item-title-container {
			position: relative;
			padding-left: 45px;
			margin-bottom: 10px;

			i {
				position: absolute;
				left: 0;
				bottom: -3px;
				color: #58585a;
				font-size: 40px;
			}

			.industry-item-title {
				font-size: 28px;
				display: block;
				padding-bottom: 0;
				border-bottom: 2px solid @color-primary;
				text-transform: uppercase;
				font-weight: bold;
			}
		}


		.industry-item-short-description {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 20px;
		}

		p {
			font-size: 14px;
		}

	}

}


@media @xs {
	.main-section.industries {

		.industry-item {
			.industry-item-title-container {
				padding-left: 40px;
				i {
					font-size: 35px;
				}
				.industry-item-title {
					font-size: 24px;
				}
			}
		}

	}
}


@media @sm {
	.main-section.industries {

		.industry-item {
			.industry-item-title-container {
				padding-left: 35px;
				i {
					font-size: 30px;
				}
				.industry-item-title {
					font-size: 20px;
				}
			}
		}

	}
}