	<footer>
		<div class="container">
			
		</div>
	</footer>

    <!-- Main js file -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
        
    </body>
</html>