<section class="main-section about" id="about">
	<header class="main-section-header">
		<div class="container">
			<p>
				Primotus's goal is to create a robust but easy-to-use Business Process Management (BPM) alternative for a wide range of mobile-centric enterprises. Along with our Partners, we assist businesses in developing streamlined work flow solutions that provide vital business intelligence that fosters continual operational improvements. 
			</p>

		</div>
	</header>

	<div class="container">

		<div class="main-section-title-container">
			<h1 class="main-section-title">
				About Us
			</h1>
		</div>



		<div class="row about-badges">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-group"></i>
				</div>
				<div class="circle-item-title">
					People
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="circle-item-title">
					Location
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-file-o"></i>
				</div>
				<div class="circle-item-title">
					Contact Form
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-bullhorn"></i>
				</div>
				<div class="circle-item-title">
					Contact Us
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-pencil"></i>
				</div>
				<div class="circle-item-title">
					Career
				</div>
			</div>


			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-comments"></i>
				</div>
				<div class="circle-item-title">
					Support/ Chat
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-comments"></i>
				</div>
				<div class="circle-item-title">
					Webinar
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-comments"></i>
				</div>
				<div class="circle-item-title">
					About BPM
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 circle-item-col">
				<div class="circle-item-icon">
					<i class="fa fa-comments"></i>
				</div>
				<div class="circle-item-title">
					Blog
				</div>
			</div>

		</div>




	</div>

</section>