.main-section.about {


	.main-section-title {
		margin-bottom: 50px;
	}


	.about-badges {

		text-align: center;
		font-size: 0;

		.circle-item-col {
			text-transform: uppercase;
			margin-bottom: 25px;
			display: inline-block;
			vertical-align: top;
			float: none !important;
		}
	}


}