/* Home page specific styles */

.home-container {
	
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.home-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.home-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.home-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.home-container {

	}
}



// Partial layouts
@import "features/features.less";
@import "industries/industries.less";
@import "plans/plans.less";
@import "services/services.less";
@import "about/about.less";