<% include ../partials/header/header %>
	<div class="main-container home-container">
		<% include ../partials/slider/slider %>

		<% include features/features %>
		
		<% include services/services %>
		
		<% include industries/industries %>
		
		<% include plans/plans %>
		
		<% include about/about %>
	</div>
<% include ../partials/footer/footer %>